*{
    box-sizing: border-box;
}
body{
    font-family: 'roboto', sans-serif;
    background: black;
    color:yellow;
}
header{
    width: 100%;
}
.header .main{
    width: 90%;
    margin: 0 auto;
}
.navbar{
    margin-top: 30px;
}
.navbar .brand{
    display: flex;
    margin: 20px 70px;
    color:#d10505;
}
.navbar .brand i{
    font-size: 1.6em;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
    margin: -50px;
}
.menu ul li{
    list-style: none;
    margin-right: 70px;
}
.menu ul li a{
    color: yellow;
    text-decoration: none;
    font-size: 1.3em;;
}
.navbar .toggle-menu{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
.navbar .toggle-menu i{
    font-size: 1.8em;
    color: yellow;
    display: none;
}
main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input{
    position: relative;
}
.formulario__input{
    width: 100%;
    background: rgb(255, 255, 255);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0px 40px 0px 10px;
    transition: .3s ease all; 
}
.formulario__input:focus{
    border: 3px solid yellow;
    outline: none;
    box-shadow: 3px 0px 30px (163,163,163, 0.4);
}
.formulario__input-error{
    font-size: 13px;
    margin-bottom: 0%;
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__checkbox{
    margin-right: 10px;
}
.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #d10505;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-active{
    display: block;
}
.formulario__mensaje p{
    margin: 0;
}
.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: yellow;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}
.formulario__btn:hover{
    box-shadow: 3px opx 30px rgb(17, 0, 255, 1) ;
}
.formulario__mensaje-exito{
    font-size: 14px;
    color: yellow;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}
/*--------Estilos para validacion-----*/
.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label{
    color: #d10505;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #d10505;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__grupo-input{
    border: 3px solid #d10505;
    border-radius: 3px;
}
.copy{
    color: yellow;
}
/*------------------mediaqueries---------------*/
@media screen and (max-width: 800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar{
    grid-column: 1; 
}
.formulario__btn{
    width: 100%;
}
.navbar .brand i{
    margin-left: -30px;
}
.navbar .toggle-menu i{
    display: block;
    margin: -60px 30px;
    cursor: pointer;
}
.navbar .menu ul{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    position: fixed;
    margin-top: 30px;
    transform: translateX(-120%);
    transition: 1s ease-in;
}
.navbar .menu .menu-on{
    transform: translateX(-4%);
}
.navbar .menu ul li{
    margin: 30px;
    text-transform: uppercase;
}
.copy{
    color: yellow;
}
}

